<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/styles.css" />
<head>


</head>

<body>
   <div> {{>header}} </div>

<div class="def"><p>About Me</p></div>
<p>This Site was created by Eli Offri in using weatherstack API and positionstack API in order to present weather information </p>
<div> {{>footer}} </div>
</body>


</html>